

/* --------------------------------------- */
/* HEADER */

header {
    background: #FFF;
    border: 8px lightgray;
    /* border-bottom-style: solid; */
    padding: 0px 0px 26px 0px;
}

header div {
    width: 700px;
    /* float: left; */
    margin: 0px;
}

header div img {
    /* width: 24px; */
    /* display: inline; */
    float: left;
}

header div p:nth-of-type(1) {
    /* display: inline; */
    font-size: 35px;
    font-family: 'Yellowtail', cursive;
    text-indent: 0px;
}

header div p:nth-of-type(2) {
    font-family: sans-serif;
    font-size: 8.5px;
    text-indent: 4px;
    padding: 2px 0px 0px 0px;
}

header ul li img {
    /* display doesn't seem to affect anything */
    float: right;
    /* margin: 2px 2px 2px 2px white; */
    list-style: none;
}

/* ------------------------------------------- */
/* BODY */

h1 {

}

h2 {

}

body div img {

}

body div p {

}

body img { /* Make sure this doesn't conflict with 'body div img' above */

}

body p {
    text-indent: 50px;
}

section img {

}

section ul li {

}

footer img:nth-of-type() {

}
footer h3 {

}

footer p:nth-child() {

}

footer button {

}

footer img:nth-last-of-type() {

}

footer p {

}   